.container
  .row
    .col-md-9
      .img-container
        img(src='https://res.cloudinary.com/elijahs/image/upload/v1492643031/flickr/Galliformes/Megapodiidae/Aepypodius%2Barfakianus-15433787510.jpg', alt='Bird Photo')
  #actions.row
    .col-md-9.docs-buttons
      .btn-group
        button.btn.btn-primary(type='button', data-method='setDragMode', data-option='move', title='Move')
          span.docs-tooltip(data-toggle='tooltip', title='cropper.setDragMode("move")')
            span.fa.fa-arrows
        |
        button.btn.btn-primary(type='button', data-method='setDragMode', data-option='crop', title='Crop')
          span.docs-tooltip(data-toggle='tooltip', title='cropper.setDragMode("crop")')
            span.fa.fa-crop
      .btn-group
        button.btn.btn-primary(type='button', data-method='zoom', data-option='0.1', title='Zoom In')
          span.docs-tooltip(data-toggle='tooltip', title='cropper.zoom(0.1)')
            span.fa.fa-search-plus
        |
        button.btn.btn-primary(type='button', data-method='zoom', data-option='-0.1', title='Zoom Out')
          span.docs-tooltip(data-toggle='tooltip', title='cropper.zoom(-0.1)')
            span.fa.fa-search-minus
      .btn-group
        button.btn.btn-primary(type='button', data-method='move', data-option='-10', data-second-option='0', title='Move Left')
          span.docs-tooltip(data-toggle='tooltip', title='cropper.move(-10, 0)')
            span.fa.fa-arrow-left
        |
        button.btn.btn-primary(type='button', data-method='move', data-option='10', data-second-option='0', title='Move Right')
          span.docs-tooltip(data-toggle='tooltip', title='cropper.move(10, 0)')
            span.fa.fa-arrow-right
        |
        button.btn.btn-primary(type='button', data-method='move', data-option='0', data-second-option='-10', title='Move Up')
          span.docs-tooltip(data-toggle='tooltip', title='cropper.move(0, -10)')
            span.fa.fa-arrow-up
        |
        button.btn.btn-primary(type='button', data-method='move', data-option='0', data-second-option='10', title='Move Down')
          span.docs-tooltip(data-toggle='tooltip', title='cropper.move(0, 10)')
            span.fa.fa-arrow-down
      .btn-group
        button.btn.btn-primary(type='button', data-method='rotate', data-option='-45', title='Rotate Left')
          span.docs-tooltip(data-toggle='tooltip', title='cropper.rotate(-45)')
            span.fa.fa-rotate-left
        |
        button.btn.btn-primary(type='button', data-method='rotate', data-option='45', title='Rotate Right')
          span.docs-tooltip(data-toggle='tooltip', title='cropper.rotate(45)')
            span.fa.fa-rotate-right
      .btn-group
        button.btn.btn-primary(type='button', data-method='scaleX', data-option='-1', title='Flip Horizontal')
          span.docs-tooltip(data-toggle='tooltip', title='cropper.scaleX(-1)')
            span.fa.fa-arrows-h
        |
        button.btn.btn-primary(type='button', data-method='scaleY', data-option='-1', title='Flip Vertical')
          span.docs-tooltip(data-toggle='tooltip', title='cropper.scaleY(-1)')
            span.fa.fa-arrows-v
      .btn-group.btn-group-crop
        button.btn.btn-primary(type='button', data-method='getCroppedCanvas')
          span.docs-tooltip(data-toggle='tooltip', title='cropper.getCroppedCanvas()') getCroppedCanvas
        |
      #getCroppedCanvasModal.modal.fade.docs-cropped(role='dialog', aria-hidden='true', aria-labelledby='getCroppedCanvasTitle', tabindex='-1')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
              h4#getCroppedCanvasTitle.modal-title Cropped
            .modal-body
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              |
              a#download.btn.btn-primary(href='javascript:void(0);', download='cropped.jpg') Download